{% extends "base.html" %}

{% block title %}{% if object.pk %}Update{% else %}New{% endif %} Service Provider{% endblock %}
{% block h1_title %}{% if object.pk %}Update{% else %}New{% endif %} Service Provider{% endblock %}

{% block content %}
    <form method="post">{% csrf_token %}
        <table class="pure-table">
            <tbody>
            {{ form }}
            </tbody>
            <tfoot>
            <tr><td colspan="2">
                <input type="submit" class="pure-button pure-button-primary" value="Submit">
            </td></tr>
            </tfoot>
        </table>
    </form>
{% endblock %}